.TitleBox {
    background-color: #07707c;
    font-size: 1em;
    text-align: center;
    border-radius: 6px;
    padding: 1px;
    width: 20%;
    color: #ffffff;
    margin: 0 auto; 
    margin-bottom: 1%;
}
.TitleBox1 {
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: solid 2px #07707c;
    padding: 1%;
    color: #000000;
    margin: 0 auto; 
}
.TitleBox2 {
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border: solid 2px #07707c;
    padding: 1%;
    color: #000000;
    margin: 0 auto; 
}

.h3Box{
    width: 100%;
    display: flex;
    justify-content: center;
}