<div class="TitleBox">
    <h1>Medels per Country </h1>
  </div>
  <div class="h3Box">
    <div class="TitleBox1" >
      <p>Number of Jos </p>
      <p><strong>{{ participateData }}</strong></p>
    </div>
    <div class="TitleBox2">
      <p >Number Of Countries</p>
      <p><strong> {{ countriesData.length }}</strong></p>
    </div>
  </div>
<div *ngIf="olympics$ | async as countries">
    <div class="p-grid p-nogutter p-justify-center">
      <div class="p-col-10">
        <p-chart
          [type]="'pie'"
          [data]="pieData"
          [options]="chartOptions"
          [width]="'400'"
          [height]="'400'"
          (click)="onChartClick($event)"
        ></p-chart>
      </div>
    </div>
  </div>
